<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="businessMapper">
	<!-- Recuritment  -->
	<resultMap type="Recuritment" id="recuritmentResultSet">
		<result column="RECRUITMENT_NO" property="recuritmentNo" />
		<result column="BUSINESS_NO" property="businessNo" />
		<result column="TITLE" property="title" />
		<result column="MANAGER_NAME" property="managerName" />
		<result column="MANAGER_DEPT" property="managerDept" />
		<result column="MANAGER_EMAIL" property="managerEmail" />
		<result column="METHOD" property="method" />
		<result column="START_DATE" property="startDate" />
		<result column="DEADLINE" property="deadline" />
		<result column="POSTING_DATE" property="postingDate" />
		<result column="CONTENT_IMG" property="contentImg" />
		<result column="CONTENT_TEXT" property="contextText" />
		<result column="STATUS" property="status" />
	</resultMap>
	
	<!-- Applicants -->
	<resultMap type="Applicants" id="applicantsResultSet">
		<result column="APPLICANTS_NO" property="applicantsNo" />
		<result column="RECRUITMENT_NO" property="recuritmentNo" />
		<result column="POSITION_NO" property="positionNo" />
		<result column="STAGY_NO" property="stagyNo" />
		<result column="RESUME_NO" property="resumeNo" />
		<result column="USER_NAME" property="applicantName" />
		<result column="age" property="age" />
		<result column="USER_GENDER" property="gender" />
		<result column="USER_PIC" property="picture" />
		<result column="career" property="career" />
		<result column="academic_ability" property="academicAbility" />
		<result column="salary" property="salary" />
		<result column="STAGY_NAME" property="stagy" />
		<result column="APPLICANTS_DATE" property="applicantsDate" />
		<result column="RESUME_STATUS" property="resumeStatus" />
		<result column="SCORE" property="score" />
		<result column="MEMO" property="memo" />
		<result column="PASS_STATUS" property="passStatus" />
		<result column="BOOKMARK_STATUS" property="bookmarkStatus" />
	</resultMap>
	
	<!-- ApplicantsStatus -->
	<resultMap type="ApplicantsStatus" id="applicantsStatusResultSet">
		<result column="TOTAL" property="total" />
		<result column="VIEW_COMPLETE" property="viewComplete" />
		<result column="VIEW_NOT_FINISHED" property="viewNotFinished" />
		<result column="EVALUATION_COMPLETE" property="evaluationComplete" />
		<result column="PASS_TOTAL" property="passTotal" />
	</resultMap>
	
	<!-- Position -->
	<resultMap type="Position" id="positionResultSet">
		<result column="POSITION_NO" property="positionNo" />
		<result column="RECRUITMENT_NO" property="recuritmentNo" />
		<result column="POSITION_NAME" property="positionName" />
		<result column="POSITION_RANK" property="positionRank" />
		<result column="EMPLOYMENT_FORM" property="employmentForm" />
		<result column="RECRUITED_PEOPLE" property="recuitedPeople" />
		<result column="VIEW_PEOPLE" property="viewPeople" />
		<result column="EVALUATION_PEOPLE" property="evaluationPeople;" />
		<result column="PASS_PEOPLE" property="passPeople" />
	</resultMap>
	
	<!-- BusinessBookmark -->
	<resultMap type="BusinessBookmark" id="businessBookmarkResultSet">
		<result column="BUSINESS_NO" property="businessNo" />
		<result column="RESUME_NO" property="resumeNo" />
		<result column="FOLDER_NO" property="folderNo" />
		<result column="APPLICANTS_NAME" property="name" />
		<result column="APPLICANTS_PICTURE" property="picture" />
		<result column="APPLICANTS_PHONE" property="phone" />
		<result column="APPLICANTS_EMAIL" property="email" />
		<result column="FOLDER_NAME" property="folder" />
		<result column="RESUME_STATUS" property="resumeStatus" />
		<result column="APPLICANTS_HISTORY" property="applicantHistory" />
		<result column="APPLICANTS_DATE" property="applicantDate" />
		<result column="ADD_DATE" property="addDate" />
	</resultMap>
	
	
	<!-- [공고 현황&목록] ================================================================================================== -->
	
	<!-- 현재 공고현황 조회 -->
	<select id="selectRecuritmentStatus" parameterType="int" resultType="java.util.Map">
		SELECT	COUNT(*) AS total,
				COUNT(CASE WHEN STATUS = 'T' THEN 1 END) AS TEMP_COUNT,
				COUNT(CASE WHEN STATUS = 'S' THEN 1 END) AS STANDBY_COUNT,
				COUNT(CASE WHEN STATUS = 'P' THEN 1 END) AS PROGRESS_COUNT,
				COUNT(CASE WHEN STATUS = 'E' THEN 1 END) AS END_COUNT
		  FROM	JOB_RECRUITMENT
		 WHERE	BUSINESS_NO = #{businessNo}
	</select>
	
	<!-- 진행중인 목록 조회 -->
	<select id="selectListProgressRecuritment" parameterType="int" resultMap="recuritmentResultSet">
		SELECT	RECRUITMENT_NO, BUSINESS_NO, TITLE, MANAGER_NAME, MANAGER_DEPT, METHOD,
				TO_CHAR(START_DATE, 'YYYY.MM.DD') AS START_DATE, TO_CHAR(DEADLINE, 'YYYY.MM.DD') AS DEADLINE, STATUS
		  FROM	JOB_RECRUITMENT
		 WHERE	BUSINESS_NO = #{businessNo}
		   AND	STATUS = 'P'
	</select>
	
	<!-- 대기중인 목록 조회 -->
	<select id="selectListStandByRecuritment" parameterType="int" resultMap="recuritmentResultSet">
		SELECT	RECRUITMENT_NO, BUSINESS_NO, TITLE, MANAGER_NAME, MANAGER_DEPT, METHOD,
				TO_CHAR(START_DATE, 'YYYY.MM.DD') AS START_DATE, TO_CHAR(DEADLINE, 'YYYY.MM.DD') AS DEADLINE, STATUS
		  FROM	JOB_RECRUITMENT
		 WHERE	BUSINESS_NO = #{businessNo}
		   AND	STATUS = 'S'
	</select>
	
	<!-- 임시저장한 목록 조회 -->
	<select id="selectListTemporaryRecuritment" parameterType="int" resultMap="recuritmentResultSet">
		SELECT	RECRUITMENT_NO, BUSINESS_NO, TITLE, MANAGER_NAME, MANAGER_DEPT, METHOD,
				TO_CHAR(START_DATE, 'YYYY.MM.DD') AS START_DATE, TO_CHAR(DEADLINE, 'YYYY.MM.DD') AS DEADLINE, STATUS
		  FROM	JOB_RECRUITMENT
		 WHERE	BUSINESS_NO = #{businessNo}
		   AND	STATUS = 'T'
	</select>
	
	<!-- 마감된 목록 조회 -->
	<select id="selectListEndRecuritment" parameterType="int" resultMap="recuritmentResultSet">
		SELECT	RECRUITMENT_NO, BUSINESS_NO, TITLE, MANAGER_NAME, MANAGER_DEPT, METHOD,
				TO_CHAR(START_DATE, 'YYYY.MM.DD') AS START_DATE, TO_CHAR(DEADLINE, 'YYYY.MM.DD') AS DEADLINE, STATUS
		  FROM	JOB_RECRUITMENT
		 WHERE	BUSINESS_NO = #{businessNo}
		   AND	STATUS = 'E'
	</select>
	
	
	<!-- [지원자 현황&목록] ================================================================================================== -->
	
	<!-- 지원자 현황 조회 -->
	<select id="inquireAppsStatus" parameterType="int" resultMap="applicantsStatusResultSet">
		SELECT	COUNT(*) AS TOTAL,
				COUNT(CASE WHEN RESUME_STATUS = 'Y' THEN 1 END) AS VIEW_COMPLETE,
			    COUNT(CASE WHEN RESUME_STATUS = 'N' THEN 1 END) AS VIEW_NOT_FINISHED,
			    COUNT(CASE WHEN SCORE IS NULL THEN 1 END) AS EVALUATION_COMPLETE,
			    COUNT(CASE WHEN PASS_STATUS = 'P' THEN 1 END) AS PASS_TOTAL
		  FROM	APPLICANTS
		 WHERE	RECRUITMENT_NO = #{recruitmentNo}
	</select>
	
	<!-- 포지션 목록 조회(현황 페이지용) -->
	<select id="inquirePositionList" parameterType="int" resultMap="positionResultSet">
		SELECT	P.POSITION_NO AS POSITION_NO,
				P.RECRUITMENT_NO AS RECRUITMENT_NO,
				POSITION_NAME,
				POSITION_RANK,
				RECRUITED_PEOPLE,
				COUNT(CASE WHEN RESUME_STATUS = 'Y' THEN 1 END) AS VIEW_PEOPLE,
				COUNT(CASE WHEN SCORE IS NULL THEN 1 END) AS EVALUATION_PEOPLE,
				COUNT(CASE WHEN PASS_STATUS = 'P' THEN 1 END) AS PASS_PEOPLE
		  FROM POSITION P
		  JOIN APPLICANTS A ON (P.POSITION_NO = A.POSITION_NO)
		 WHERE A.RECRUITMENT_NO = #{recruitmentNo}
	</select>
	
	
	<!-- [구직자 즐겨찾기] ================================================================================================== -->
	
	<!-- 즐겨찾기 목록 조회 -->
	<select id="loadBookmarkList" parameterType="int" resultMap="businessBookmarkResultSet">
		SELECT	B.BUSINESS_NO AS BUSINESS_NO,
				B.RESUME_NO AS RESUME_NO,
				B.FOLDER_NO AS FOLDER_NO,
				USER_NAME AS APPLICANTS_NAME,
				USER_PIC AS APPLICANTS_PICTURE,
				USER_PHONE AS APPLICANTS_PHONE,
				USER_EMAIL AS APPLICANTS_EMAIL,
				NVL(FOLDER_NAME, '미분류') AS FOLDER_NAME,
				A.RESUME_STATUS,
				CASE
		            WHEN A.RESUME_NO IS NOT NULL THEN 'Y'
		            ELSE 'N'
		        END AS APPLICANTS_HISTORY,
		        CASE
		            WHEN A.RESUME_NO IS NOT NULL THEN TO_CHAR(A.APPLICANTS_DATE, 'YYYY.MM.DD')
		            ELSE NULL
		        END AS APPLICANTS_DATE,
				ADD_DATE
		  FROM	BUSINESS_BOOKMARK B
		  JOIN	RESUME R ON (B.RESUME_NO = R.RESUME_NO)
	 LEFT JOIN	APPLICANTS A ON (R.RESUME_NO = A.RESUME_NO)
	 LEFT JOIN	BUSINESS_FOLDER F ON (B.FOLDER_NO = F.FOLDER_NO)
		 WHERE	B.BUSINESS_NO = #{businessNo}
	     ORDER	BY B.ADD_DATE DESC
	</select>
	
	<!-- 즐겨찾기 목록에서 삭제 -->
	<delete id="deleteBookmarkList" parameterType="map">
		DELETE	FROM BUSINESS_BOOKMARK
		 WHERE	BUSINESS_NO = #{businessNo}
		   AND	RESUME_NO = #{resumeNo}
	</delete>
	
	<!-- 즐겨찾기 그룹 분류 수정 -->
	<update id="updateBookmarkFolder" parameterType="map">
		UPDATE	BUSINESS_BOOKMARK
		   SET	FOLDER_NO = 
		   <choose>
		   		<when test="type.equals('add')">
		   			#{folder}
		   		</when>
		   		<when test="type.equals('sub')">
		   			NULL
		   		</when>
		   </choose>
		 WHERE	BUSINESS_NO = #{bookmark.businessNo}
	</update>
	
	<!-- 즐겨찾기 그룹 추가 -->
	<insert id="insertFolder" parameterType="map">
		INSERT	INTO BUSINESS_FOLDER (FOLDER_NO, BUSINESS_NO, FOLDER_NAME, FOLDER_ORDER)
				VALUES (NULL, #{businessNo}, #{folderName}, NULL)
	</insert>
	
	<!-- 즐겨찾기 그룹 편집 -->
	<update id="updateFolder" parameterType="map">
		UPDATE	BUSINESS_FOLDER
		   SET	FOLDER_NO = #{folder},
		  		FORDER_NAME = #{folderName},
		  		FORDER_ORDER = #{order}
		 WHERE	BUSINESS_NO = #{businessNo}
	</update>
	
	<!-- 즐겨찾기 그룹 삭제 -->
	<delete id="deleteFolder" parameterType="map">
		DELETE	FROM BUSINESS_FOLDER
		 WHERE	BUSINESS_NO = #{businessNo}
		   AND	FOLDER_NO = #{folder}
	</delete>
	
	
	<!-- ================================================================================================== -->
	

    <!-- 담당자 정보 저장 -->
    <insert id="insertRepresentativeInfo">
        INSERT INTO JOB_POSTING (RECRUITMENT_NO, REPRESENTATIVE_NAME, REPRESENTATIVE_DEPT, REPRESENTATIVE_EMAIL)
        VALUES (#{recruitmentNo}, #{representativeName}, #{representativeDept}, #{representativeEmail})
    </insert>

    <!-- 홈페이지 주소 저장 -->
    <update id="saveWebsite">
        UPDATE JOB_POSTING
        SET WEBSITE = #{website}
        WHERE RECRUITMENT_NO = #{recruitmentNo}
    </update>

    <!-- 로고 경로 저장 -->
    <update id="saveLogoPath">
        UPDATE JOB_POSTING
        SET LOGO_PATH = #{logoPath}
        WHERE RECRUITMENT_NO = #{recruitmentNo}
    </update>

    <!-- 특정 공고 조회 -->
    <select id="selectJobPostingById" resultType="com.cs.workdream.business.model.vo.JobPosting1">
        SELECT 
            RECRUITMENT_NO, BUSINESS_NO, REPRESENTATIVE_NAME, REPRESENTATIVE_DEPT, REPRESENTATIVE_EMAIL, 
            COMPANY_NAME, WEBSITE, LOGO_PATH
        FROM JOB_POSTING
        WHERE RECRUITMENT_NO = #{recruitmentNo}
    </select>

</mapper>
