<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
 
	<settings>
		<!-- null값 처리 -->
 		<setting name="jdbcTypeForNull" value="NULL"/>
 		
 		<!-- 로깅 -->
 		<setting name="logImpl" value="SLF4J"/>
	</settings>
 	
	<typeAliases>
 		<typeAlias alias="Member" type="com.cs.workdream.member.model.vo.Member"/>
 		<typeAlias alias="Resume" type="com.cs.workdream.resume.model.vo.Resume"/>
 		<typeAlias alias="Board" type="com.cs.workdream.board.model.vo.Board"/>
 		<typeAlias alias="Reply" type="com.cs.workdream.board.model.vo.Reply"/>
 		<typeAlias alias="SelfIntro" type="com.cs.workdream.resume.model.vo.SelfIntro"/>
	</typeAliases>
 	
 	<!-- mapper 경로 등록 -->
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/resume-mapper.xml"/>
		<mapper resource="mappers/selfintro-mapper.xml"/>
	</mappers>
 	
</configuration>