<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
 
	<settings>
		<!-- null값 처리 -->
 		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
 	
	<typeAliases>
 		<typeAlias alias="Member" type="com.cs.workdream.member.model.vo.Member"/>
	</typeAliases>
 	
 	<!-- mapper 경로 등록 -->
	<mappers>
		<mapper resource="mappers/member-mapper.xml"/>
		<mapper resource="mappers/board-mapper.xml"/>
		<mapper resource="mappers/resume-mapper.xml"/>
	</mappers>
 	
</configuration>