/* 湲곕낯 �뒪���씪 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #ffffff;
    background-color: #ffffff;
    padding: 40px;
}

.post-container {
	width: 100%;
    max-width: 1000px;
    margin: 30px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* 占쎌젫筌륅옙 占쎈뮞占쏙옙占쎌뵬 */
.title h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
    color: #000;
    margin-bottom: 1.5rem;
}

/* 燁삳똾�믤�⑥쥓�봺 甕곌쑵�뱣 */
.category-tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.2rem;
    margin-bottom: 2rem;
}

.category-tags button {
    padding: 1rem ;
    border: 1.5px solid #4E21A8;
    background-color: #ffffff;
    color: #4E21A8;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    width: calc(100% / 6 - 1rem); /* 占쎈립 餓κ쑴肉� 占쎈연占쎄숱 揶쏉옙 獄쏄퀣�뒄 */
    text-align: center;
    min-width: 50px;
}

.category-tags button:hover,
.category-tags button:focus {
    background-color: #E1DEF1;
}

<<<<<<< HEAD
/* 占쎌읈筌ｏ옙 野껊슣�뻻疫뀐옙*/
=======

>>>>>>> 3f396ec4751fc394bd3c44527da0dcdc2eda142d
.total-count {
    font-size: 1.3rem;
    color: #333;
    font-weight: bold;
    margin-bottom : 1rem;
}



.filter-section {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 2rem; /* 占쎈툡占쎄숲 占쎄쉰占쎈�∽옙�벥 揶쏉옙 占쎌뒄占쎈꺖 占쎄텢占쎌뵠 揶쏄쑨爰� */
}



.filters {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.filters select {
    padding: 0.5rem 1rem;
    border: 1.5px solid #4E21A8;
    border-radius: 8px;
    font-size: 1rem;
    color: #4E21A8;
    background-color: #ffffff;
    cursor: pointer;
    
}

/* 野껊슣�뻻疫뀐옙 筌뤴뫖以됪�⑨옙 野껓옙占쎄퉳獄쏅뗀占쏙옙 揶쏆늿占� 餓κ쑴肉� 獄쏄퀣�뒄 */
.header-search-bar {
    display: flex;
    justify-content: space-between; /* 占쎈펶筌잞옙 占쎄국占쎈퓠 獄쏄퀣�뒄 */
    align-items: center; /* 占쎄쉭嚥∽옙 揶쏉옙占쎌뒲占쎈쑓 占쎌젟占쎌졊 */
    margin-bottom: 1rem;
}

.header-search-bar h2 {
    font-size: 1.5rem;
    font-weight: bold;
    color: #000000;
}


.search-posts-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1.5rem;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1.5px solid #4E21A8;
    border-radius: 20px;
    overflow: hidden;
    width: 500px; /* 野껓옙占쎄퉳 獄쏉옙 占쎄섐�뜮占� 占쎄퐬占쎌젟 */
}


.search-bar input[type="text"] {
    padding: 0.5rem 0.8rem;
    border: none;
    outline: none;
    width: 100%;
    font-size: 1rem;
    color: #000000;
}

.search-bar button {
    padding: 0.5rem;
    background-color: #ffffff;
    color: #4E21A8;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 野껊슣�뻻疫뀐옙 筌뤴뫖以� 占쎈�믭옙�뵠�뇡占� */
.post-list table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 1rem;
}

.post-list th,
.post-list td {
    padding: 0.8rem;
    text-align: center;
    font-size: 1rem;
    color: #333;
    border-bottom: 1px solid #ddd;
}

.post-list th {
    background-color: #E1DEF1;
    color: #4E21A8;
    font-weight: bold;
}



.post-list tbody tr:hover {
    background-color: #E1DEF1; /* 筌띾뜆�뒭占쎈뮞�몴占� 占쎌궞占쎌죬占쎌뱽 占쎈르占쎌벥 獄쏄퀗瑗랃옙源� */
    cursor: pointer;
}


/* 占쎈읂占쎌뵠筌욑옙占쎄퐬占쎌뵠占쎈�� 占쎈뮞占쏙옙占쎌뵬 */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

.pagination button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    color: #4E21A8;
}

.pagination button:disabled {
    color: #ddd;
    cursor: not-allowed;
}

.pagination span {
    font-size: 1.2rem;
    font-weight: bold;
    color: #4E21A8;
}