.resume_title{
    margin-top: 50px;
    margin-bottom: 35px;
    margin-right: 520px;
}

.resume_title h1{
	font-size: 1.5rem;
	display: inline-block;
    padding-right: 30px;
}

.resume_title input{
    box-sizing: border-box;
    border: 2px solid #4e21a8;
    width: 500px;
    height: 30px;
    border-radius: 30px;
    border-color: #4E21A8;
    padding-left: 20px;
    position: relative;
    bottom: 2px;
    font-size: 1rem;
}

input:focus{
    outline: none;
}

#basic1{
    display: flex;
}
.basic_info{
    border: none;
    box-shadow: 0 4px 16px 0 rgba(97, 17, 128, 0.08);
    border-top: 5px solid #4e21a8;
    height: 375px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.edu_Lv, .b_Info{
    font-size: 1.5rem;
    margin-left: 50px;
    font-weight: bold;
}

.name{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 50px;
    margin-top: 25px;
    height: 50px
}

.name input{
    box-sizing: border-box;
    border: none;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 1rem;
}

input:focus{
    outline: none;
}

.username, .userbirth, .useremail, .userphone, .useraddress, .userdtaddress{
    font-size: 0.8rem;
    margin-left: 15px;
}

.gender, .final_edu{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 50px;
    margin-top: 31px;
    height: 44px;
    display: flex;
}

.usergender, .useredu{
    position: relative;
    height: 42px;
    top: 33px;
    width: 120px;
    margin-left: 34px;
}

#selectgender{
	border: none;
    width: 154px;
    font-size: 0.9rem;
    padding-left: 10px;
}

#selectedu{
    border: none;
    width: 240px;
    font-size: 0.9rem;
    padding-left: 10px;
}

.birthday{
	border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 50px;
    margin-top: 25px;
    height: 50px;
}

.birthday input{
	border: none;
    margin-top: 5px;
    width: 190px;
    padding-left: 15px;
    padding-right: 14px;
    font-size: 0.9rem;
}

#basic2{
    display: flex;
}
.email{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 50px;
    margin-top: 25px;
    height: 50px
}

.email input{
    box-sizing: border-box;
    border: none;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 1rem;
}

.email_check{
    height: 44px;
    width: 85px;
    margin-top: 32px;
    margin-left: 50px;
    border: none;
    color: white;
    background-color: #5E35B0;
    border-radius: 5px;
    font-size: 0.8rem;
}

#basic3{
    display: flex;
}
.phone{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 50px;
    margin-top: 25px;
    height: 50px
}

.phone input{
    box-sizing: border-box;
    border: none;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 1rem;
}

.phone_check{
    height: 44px;
    width: 85px;
    margin-top: 32px;
    margin-left: 50px;
    border: none;
    color: white;
    background-color: #5E35B0;
    border-radius: 5px;
    font-size: 0.8rem;
}

#basic4{
    display: flex;
}

.address{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 50px;
    margin-top: 25px;
    height: 50px
}

.address input{
    box-sizing: border-box;
    border: none;
    padding-top: 7px;
    padding-left: 15px;
    font-size: 0.8rem;
    width: 300px;
}

.dtaddress{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 50px;
    margin-top: 25px;
    height: 50px
}

.dtaddress input{
    box-sizing: border-box;
    border: none;
    padding-top: 7px;
    padding-left: 15px;
    font-size: 0.8rem;
    width: 310px;
}

.education_Lv{
    border: none;
    box-shadow: 0 4px 16px 0 rgba(97, 17, 128, 0.08);
    border-top: 5px solid #4e21a8;
    height: 300px;
    border-radius: 5px;
    margin-bottom: 50px;
}

/* 공통 스타일 */
.education-fieldset {
    border: 1px solid #ddd;
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.education-fieldset legend {
    font-weight: bold;
    font-size: 14px;
    padding: 0 5px;
}

.form-group1, .form-group2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.input-group{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 50px;
    margin-top: 25px;
    height: 50px;
}

.input-group legend,
.checkbox-group legend{
    font-size: 0.8rem;
    margin-left: 15px;
}

.element_name, .status, .enter_date, .end_date {
    box-sizing: border-box;
    border: none;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 1rem;
    width: 250px;
    margin-right: 7px;
}

.exam{
    display: flex;
    align-items: center;
    position: relative;
    top: 14px;
    margin-left: 50px;
}

.exam label{
    font-size: 0.8rem;
}

.exam_status{
    margin-left: 10px;
}

.checkbox-field {
    transform: scale(1.2);
    margin-top: 5px;
}

.select_lo{
    box-sizing: border-box;
    border: none;
    margin-top: 4px;
    padding-left: 12px;
    width: 151px;
    font-size: 0.9rem;
    margin-right: 8px;
}

/* 포커스 시 스타일 */
.input-field:focus {
    outline: none;
}

.career{
    border: none;
    box-shadow: 0 4px 16px 0 rgba(97, 17, 128, 0.08);
    border-top: 5px solid #4e21a8;
    height: 520px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.career_Lv{
    font-size: 1.5rem;
    margin-left: 50px;
    font-weight: bold;
}

.college_name{
    box-sizing: border-box;
    border: none;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 1rem;
}

.degree{
    box-sizing: border-box;
    border: none;
    padding-top: 5px;
    padding-left: 5px;
    margin-right: 7px;
    font-size: 1rem;
}

.major_name{
    box-sizing: border-box;
    border: none;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 1rem;
}

.high_name, .middle_name{
    box-sizing: border-box;
    border: none;
    padding-top: 5px;
    padding-left: 15px;
    font-size: 1rem;
    width: 250px;
    margin-right: 7px;
}

.career1{
    display: flex;
}

.career2{
    display: flex;
}

.career1 fieldset{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 50px;
    margin-top: 31px;
    height: 50px;
}

.career2 fieldset{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 50px;
    margin-top: 25px;
    height: 50px;
}

.career3 fieldset{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 50px;
    margin-top: 25px;
    height: fit-content;
}

.com_title{
    box-sizing: border-box;
    border: none;
    padding-top: 7px;
    padding-left: 15px;
    font-size: 0.8rem;
    width: 310px;
}

.career1 legend{
    font-size: 0.8rem;
    margin-left: 15px;
}

.career2 legend{
    font-size: 0.8rem;
    margin-left: 15px;
}

.career3 legend{
    font-size: 0.8rem;
    margin-left: 15px;
}

.enter_com input, .retire_com input{
    border: none;
    margin-top: 5px;
    width: 190px;
    padding-left: 15px;
    padding-right: 14px;
    font-size: 0.9rem;
}

.career_status{
    box-sizing: border-box;
    border: none;
    margin-top: 4px;
    padding-left: 12px;
    width: 151px;
    font-size: 0.9rem;
    margin-right: 8px;
}

.career2 input{
    border: none;
    margin-top: 5px;
    width: 300px;
    padding-left: 15px;
    padding-right: 14px;
    font-size: 0.9rem;
}

#j_content{
    padding: 20px;
    resize: none;
    border: none;
    width: 1006px;
    height: 250px;
    font-size: 0.8rem;
}

#j_content:focus{
    outline: none;
}

.skill{
    border: none;
    box-shadow: 0 4px 16px 0 rgba(97, 17, 128, 0.08);
    border-top: 5px solid #4e21a8;
    height: 230px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.skill_name{
    font-size: 1.5rem;
    margin-left: 50px;
    font-weight: bold;
}

.skill_title input{
    border: none;
    margin-top: 15px;
    width: 390px;
    padding-left: 15px;
    padding-right: 14px;
    font-size: 0.9rem;
}

#sk_title1{
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

#sk_title1 fieldset{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 20px;
    margin-top: 25px;
    height: 50px;
    margin-right: 15px;
}

#sk_title1 button{
    height: 50px;
    position: relative;
    top: 25px;
    border: none;
    border-radius: 5px;
    width: 90px;
    font-size: 0.8rem;
    color: white;
    background-color: #4e21a8;
}

#sk_title1 button:focus{
    outline: none;
}

#sk_title2 h1 {
    font-size: 1rem;
    margin: 0; /* h1 태그의 기본 여백 제거 */
    line-height: normal; /* h1의 높이 조정 */
}

#MYsk {
    margin-top: 30px;
    margin-left: 45px;
    display: flex;
    align-items: center; /* h1과 myskill1 높이를 맞춤 */
}

.myskill1 {
    margin-left: 30px;
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 14px;
    color: #2C2C2C;
    background-color: #E1DEF1;
    border: 1px solid #E1DEF1;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    gap: 8px;
}

.delete-icon {
    font-size: 12px;
    cursor: pointer;
}

.delete-icon:hover {
    color: #D9534F;
}

.experience{
    border: none;
    box-shadow: 0 4px 16px 0 rgba(97, 17, 128, 0.08);
    border-top: 5px solid #4e21a8;
    height: 450px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.exp{
    font-size: 1.5rem;
    margin-left: 50px;
    font-weight: bold;
}

.exp1{
    display: flex;
}

.activity{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 50px;
    margin-top: 25px;
    height: 50px;
}

.activity legend{
    font-size: 0.8rem;
    margin-left: 15px;
}

.select_activity{
    box-sizing: border-box;
    border: none;
    margin-top: 5px;
    padding-left: 12px;
    width: 200px;
    font-size: 0.9rem;
    margin-right: 8px;
}

.place{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 60px;
    margin-top: 25px;
    height: 50px;
}

.place legend{
    font-size: 0.8rem;
    margin-left: 15px;
}

.place input{
    box-sizing: border-box;
    border: none;
    margin-top: 5px;
    padding-left: 12px;
    width: 330px;
    font-size: 0.9rem;
    margin-right: 8px;
}

.start_date{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 30px;
    margin-top: 25px;
    height: 50px;
}

.finish_date{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 30px;
    margin-top: 25px;
    height: 50px;
}


.start_date input{
    box-sizing: border-box;
    border: none;
    margin-top: 5px;
    padding-left: 12px;
    width: 200px;
    font-size: 0.9rem;
    margin-right: 8px;
}

.start_date legend{
    font-size: 0.8rem;
    margin-left: 15px;
}

.finish_date legend{
    font-size: 0.8rem;
    margin-left: 15px;
}

.finish_date input{
    box-sizing: border-box;
    border: none;
    margin-top: 5px;
    padding-left: 12px;
    width: 200px;
    font-size: 0.9rem;
    margin-right: 8px;
}

.exp2 fieldset{
    border: 1px solid #c5c5c5;
    width: fit-content;
    margin-left: 50px;
    margin-top: 25px;
    height: fit-content;
}

.exp2 legend{
    font-size: 0.8rem;
    margin-left: 15px;
}

#e_content{
    padding: 20px;
    resize: none;
    border: none;
    width: 1006px;
    height: 250px;
    font-size: 0.8rem;
}
