body{
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    
}

footer{
	margin-top: auto;
	bottom: 0;
	height: 10rem;
}


.footer_title, .footer_content{
    list-style: none;
    display: inline;
    font-size: 12px;
}

.footer_title{
    display: flex;
    margin: 10px auto 0;
    width: 1260px;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-top: 10px;
}

.footer_inner{
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    padding: 25px 0 25px 200px;
    width: 733px;
    top: 19px;
}

.logo_icon{
    position: absolute;
    display: block;
    left: 20px;
    top: 15px;
    width: 100px;
    height: 100px;
}

.content{
    font-size: 12px;
}

.btn{
    text-decoration-line: none;
    color:black;
    font-weight: bold;
}

.btn:hover{
    color : #4e21a8;
}