@charset "UTF-8";

/* portfolioPost.css */
body {
    padding: 20px;
    background-color: #f8f9fa;
}

h1 {
    margin-bottom: 20px;
    color: #343a40;
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    margin-top: 10px;
}
