.pre_body{
    width: 1100px;
    margin: 20px auto;
}

.pre_header {
    width: fit-content;
}

.pre_inner p{
    margin-top: 50px;
    margin-left: 50px;
    font-size: 1.5rem;
    font-weight: bold;
}

.pre_header h1{
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: 20px;
}

.basic_title{
    border: none;
    box-shadow: 0 4px 16px 0 rgba(97, 17, 128, 0.08);
    border-top: 5px solid #4e21a8;
    height: 1715px;
    border-radius: 5px;
    margin-bottom: 50px;
}

.basic_title legend{
    font-size: 1.5rem;
    margin-left: 50px;
    font-weight: bold;
}

.pre_inner1,.pre_inner2,.pre_inner3,
.pre_inner4,.pre_inner5,.pre_inner6,
.pre_inner7,.pre_inner8,.pre_inner9{
    margin-bottom: 50px;
    border-top: 2px solid #4e21a8;
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 30px;
    padding-bottom: 30px;
    padding-top: 30px
}

.pre_inner1-1{
    display: flex;
    gap: 15px;
    margin-top: 15px;
}

.pre_inner1-1 h2{
    font-size: 1.1rem;
}

.pre_inner1 h2{
    font-size: 1.1rem;
    margin-top: 15px;
    gap: 15px;
}

.pre_inner2-1{
    display: flex;
    gap: 150px;
}

.pre_inner2-1 h2{
    font-size: 1.1rem;
}

.pre_inner3-1{
    display: flex;
    gap: 80px;
}

.pre_inner3-1 h2{
    font-size: 1.1rem;
}

.pre_inner4-1{
    display: flex;
    gap: 150px;
}

.pre_inner4-1 h2{
    font-size: 1.1rem;
}

.pre_inner5-1{
    display: flex;
    gap: 80px;
}

.pre_inner5-1 h2{
    font-size: 1.1rem;
}

.pre_inner6-1{
    display: flex;
    gap: 180px;
}

.pre_inner6-1 h2{
    font-size: 1.1rem;
}

.pre_inner7-1{
    display: flex;
    gap: 180px;
}

.pre_inner7-1 h2{
    font-size: 1.1rem;
}

.pre_inner8-1{
    display: flex;
    gap: 180px;
}

.pre_inner8-1 h2{
    font-size: 1.1rem;
}

.pre_inner9-1{
    display: flex;
    gap: 200px;
}

.pre_inner9-2{
    display: flex;
    gap: 180px;
}

.pre_inner9-1 h2{
    font-size: 1.1rem;
}

.pre_inner9-2 h2{
    font-size: 1.1rem;
    margin-top: 15px;
}
